In [19]:
import pandas as pd

In [20]:
tweets = pd.read_excel('tweets.xlsx')

In [21]:
tweets_df = pd.DataFrame(tweets)

In [22]:
tweets_df.head()

                                                text
0  RT @rssurjewala: Critical question: Was PayTM ...
1  RT @Hemant_80: Did you vote on #Demonetization...
2  RT @roshankar: Former FinSec, RBI Dy Governor,...
3                If not for Aam Aadmi, listen to th…
4  RT @ANI_news: Gurugram (Haryana): Post office ...

In [46]:
import re
rt_clean = re.compile('rt @[a-z]+: ')

In [47]:

def clean_tweets(row):
    row = str(row)
    mo = rt_clean.search(row)
    print(mo.groups)
    print(row.replace(temp, ''))
    
clean_tweets(tweets_df)

AttributeError: 'NoneType' object has no attribute 'groups'